.acoustic-guitar-container {
  position: 'absolute';
  top: 200px;
}

.acoustic-guitar-svg {
  width: 200px;
}
.acoustic-guitar-svg.active {
  filter: drop-shadow(0 0 30px yellow);
}
/* .guitar-face {
  animation: fill-colors 0.7 infinite;
} */
/* 
@keyframes fill-colors {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: green;
  }
} */
