.shaker-chicken-svg {
  width: 150px;
  position: absolute;
  top: 480px;
  left: 950px;
  z-index: 10;
}
.shaker-karaoke-svg {
  width: 500px;
  position: absolute;
  top: 330px;
  left: 750px;
  z-index: 9;
}

.shaker-karaoke-svg.active {
  filter: drop-shadow(0 0 100px #03ee03);
  animation: slight-tilt 0.8s infinite linear;
}
.shaker-chicken-svg.active {
  filter: drop-shadow(0 20pxs 100px #03ee03);
  animation: shakeChicken 0.8s infinite linear;
}

@keyframes slight-tilt {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes shakeChicken {
  0% {
    -webkit-transform: rotate(0deg);
    filter: drop-shadow(0 0 50px #ff3ea5ff);
    transform: scale(1);
    -webkit-transform: rotate(0deg);
    opacity: 1;  
  }
  25% {
    filter: drop-shadow(0 0 50px #edff00ff);
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(6deg);
    filter: drop-shadow(0 0 50px #00a4ccff);
    transform: scale(0.86);
    /* opacity: 0; */
  }
  75% {
    -webkit-transform: rotate(12deg);
    filter: drop-shadow(0 0 50px #ff3ea5ff);
  }
  100% {
    -webkit-transform: rotate(0deg);
    filter: drop-shadow(0 0 50px #edff00ff);
    transform: scale(1);
    opacity: 1;
  }
}