.drum-svg {
  width: 400px;
}
.drum-glowing-effect {
  animation: shake 0.5s infinite;
  transform-origin: center;
  animation-duration: 0.765s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
    filter: drop-shadow(0 0 50px #ff3ea5ff);
    transform: scale(1);
  }
  25% {
    -webkit-transform: rotate(1deg);
    filter: drop-shadow(0 0 50px #edff00ff);
  }
  50% {
    -webkit-transform: rotate(0deg);
    filter: drop-shadow(0 0 50px #00a4ccff);
    transform: scale(1.06);
  }
  75% {
    -webkit-transform: rotate(-1deg);
    filter: drop-shadow(0 0 50px #ff3ea5ff);
  }
  100% {
    -webkit-transform: rotate(0deg);
    filter: drop-shadow(0 0 50px #edff00ff);
    transform: scale(1);
  }
}

.onNoffYellow {
  animation: colorChange 1s ease-in-out infinite;
}
.onNoffRed {
  animation: colorChange 1.5s ease-in-out infinite;
}
.onNoffGreen {
  animation: colorChange 2s ease-in-out infinite;
}
.onNoffBlue {
  animation: colorChange 2.5s ease-in-out infinite;
}

@keyframes colorChange {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}
