.piano-svg {
  width: 300px;
}

.piano-svg.active {
  filter: drop-shadow(0 0 30px #b7d3fe);
  animation: running-border 3s linear infinite;
}

.piano-g {
  --border-size: 3px;
  --border-angle: 0turn;
  animation: running-border 3s linear infinite;
  background-image: linear-gradient(from 0turn, #213, #112 50%, #213),
    linear-gradient(from 0turn, transparent 20%, #08f, #f03);
  background-size: calc(100% - 6px) calc(100% - 6px), cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes running-border {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}
