.piano-svg {
  width: 300px;
}

.piano-svg.active {
  filter: drop-shadow(0 0 30px #b7d3fe);
  animation: running-border 3s linear infinite;
}

.piano-g {
  fill: none;
  stroke: #362f3c;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes running-border {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}
